/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  line-height: 1.6em;
  margin-bottom: 60px;
    /*-webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #444;
}

h1 {
	font-size: 40px;
}

h3 {
	font-weight: 400;
}

h4 {
	font-weight: 400;
	font-size: 20px;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
}


a {
    color: #d6ee18;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #b7cb1b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
.navbar-inverse .navbar-nav > li > a {
    color: #c6d550;
}

.alignleft {
    text-align: left;
}
.alignright {
    text-align: right;
}

.aligncenter {
    text-align: center;
}

.btn-theme  {
  color: #fff;
  background-color: #fd680e;
  border-color: #fd680e;
}
.btn-theme:hover  {
  color: #fff;
  background-color: #444;
  border-color: #444;
}

div.content-box {
  position: relative;
  padding: 20px;
  max-width: 472px;
  margin-bottom: 40px;
}

div.content-box > div.bg {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #444;
  opacity: 0.6;  
  z-index: -10;
}

div.content-box h1 {
  margin-top: 0;
}

form.signup {
	margin-top: 30px;
}
form.signup button.btn {
	text-transform: uppercase;
	font-weight: 700;
}
form.signup input.form-control:focus {
	border-color: #fd680e;
}

form.signup .input-group {
  width: 100%;
}

/* Nav */

a.navbar-brand {
	color: #fff !important;
	font-weight: 900;
	text-transform: uppercase;
}
a.navbar-brand:hover {
    color: #ddd !important;
}

/* Header */

#header {	
  position: relative;
	background-color: transparent;
	margin-top: 0px;
	padding-top: 150px;
	/*min-height: 650px;*/
	width: 100%;
}

#background {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 60px;
  z-index: -20;
  background-image: url(../img/lush-grass.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: relative;
  background-size: cover;
}

#header h1 {
	margin-bottom: 15px;
	color: #fff;
	font-size: 45px;
	font-weight: 500;
	letter-spacing: -1px;
}

h2.subtitle {
	color: #fff;
	font-size: 20px;
}

#signUpThankYou {
  display: none;
}

#carousel-example-generic {
  margin-bottom: 45px;
}

/* slide */
.carousel-indicators {
  position: absolute;
  bottom: -40px;
  left: 50%;
  z-index: 15;
  width: 100%;
  padding-left: 0;
  margin-left: -50%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #b7cb1b;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

/* footer */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
	background: #fd680e;
	padding: 10px 0 5px;
}

p.copyright {
	color: #fff;
	text-align: center;
}	